<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>abut rohan server</title>
</head>
<body>
    <h1>About</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ullam delectus asperiores.</h2>
    <p>Thishahahahha hahah haha</p>
    <nav><a href="/home">HomePage</a></nav>
    <nav><a href="/about">About</a></nav>
    <nav><a href="/contact">contace</a></nav>
</body>
</body>
</html>